
h1 {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

p {
   font-family: "Times New Roman", Times, serif;
   background-position: 1cm;
   color: rgb(29, 29, 80);
 }

 ul {
     color: #0c1815;
     font-size: small;
     font-family: Arial, Helvetica, sans-serif;
 }


table {
  border: 2px;
  margin: 8px;
  padding: 10px;
  font-family: arial;
  border-collapse: collapse;
  width: 50%;
  border-radius: 20px;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.bootstrap-icons {
  margin: 5px;
  padding: 2px;
}

.style-bootstrap {
  margin: 5px;
  padding: auto;
}

.glyphicon-glyphicon-cloud {
  margin: 8px;
  padding: 5px;
}