
h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

p {
   font-family: "Times New Roman", Times, serif;
   background-position: 1cm;
   color: blue;
 }

 ul {
     color: #1abc9c;
     font-size: small;
     font-family: Arial, Helvetica, sans-serif;
 }


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}